/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  background-color: grey;
}
.container {
  text-align: center;
}
.board {
  margin: 0 auto;
  border: black solid 1px;
  background-color: gainsboro;
  box-shadow: 2px 2px 5px #5C5A5A;
}
.enemy {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin .5s linear infinite;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.scoreboard{
  width: 140px;
  box-shadow: 2px 2px 5px #5C5A5A;
  border: solid black 2px;
  margin: 5px 3px;
  padding: 5px 30px 5px 10px;
  background-color: white;
  border-radius: 5px;
}
.container{

}